.card-img-top {
    height: 20vw;
    object-fit: contain;
}

tr {
    border-bottom: 1px solid rgb(217, 217, 217);
    background-color: white;
}

tr:hover {
    background-color: #ff000081;
}

tr:nth-child(odd) {
    background-color: lightsteelblue;
}

td {
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

p::first-letter {
  color: goldenrod;
  font-size: xx-large;
}