<div class="panel panel-default">
  <div class="panel-heading" #heading>
    <h3>{{ items.itemName }}</h3>
  </div>
  <div class="panel-body">
    <p
      class="card-text"
      *ngIf="status === 'Perfect'"
      style="font-weight: bold; color: white; background-color: green"
    >
      {{ items.itemStatus }}
    </p>
    <p
      class="card-text"
      *ngIf="status === 'Good'"
      style="font-weight: bold; color: white; background-color: yellowgreen"
    >
      {{ status }}
    </p>
    <p
      class="card-text"
      *ngIf="status === 'Broken'"
      style="font-style: italic; color: black; background-color: red"
    >
      {{ status }}
    </p>
    <ng-content></ng-content>
  </div>
</div>
