h1{
    text-align: center;
}

.card{
    margin: 6px 10px 0px 10px;
    
}

.card:hover{
    background-color: rgb(206, 220, 255);
    scale: 1.0;
    
}

.row{
    display: flex;
    justify-content: space-evenly;
}

p{
    display: inline;
    margin-right: 5px;
}