<!-- <button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="">Add Server</button>
<app-modul1></app-cards> -->
<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{user[0]}}</h5>
          <p class="card-text">Your status is currently</p> <p [ngClass]="{online:currentStatus1==='online'}">{{currentStatus1}}</p>
          <button class="btn btn-primary" (click)="changeStatus1()">Go Online!</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{user[1]}}</h5>
          <p class="card-text">Your status is currently</p> <p [ngClass]="{online:currentStatus2==='online'}">{{currentStatus2}}</p>
          <button class="btn btn-primary" (click)="changeStatus2()">Go Online!</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{user[2]}}</h5>
          <p class="card-text">Your status is currently</p><p [ngClass]="{online:currentStatus3==='online'}">{{currentStatus3}}</p>
          <button class="btn btn-primary" (click)="changeStatus3()">Go Online!</button>
        </div>
      </div>
    </div>    